.home{
    .search-form{
        width: 500px;
        @media (max-width:565px) {
            width: 100%;
        }
    }
    .card-row{
        padding: 10px;
        border-bottom: 1px solid #efefef;
    }
    .block-row{
        padding: 1rem 0;
    }
    .block-transaction-body{
        height: 453px;
        overflow-y: scroll;
        &::-webkit-scrollbar-track{
         box-shadow: none;   
        }
        .avatar-img{
            height: 30px;
            width: 30px;
            border-radius: 100%;
        }
    }
    .search-dropdown{
        height: 200px;
        width: 500px;
        overflow-y: auto;
        border: 1px solid #efefef;
        .search-user{
            height: 30px;
            width: 30px;
            margin-right: 10px;
        }
    }
}

.cardCollapsible {
    width: auto;
    height: 100px;
    display: table;
}

.clearBtn {
    float: right;
}