@import "../../../style/colors";
.home{
    .search-form{
        width: 500px;
        @media (max-width:565px) {
            width: 100%;
        }
    }
    .chart-col{
     
        @media (max-width:565px) {
            .upper-chart{
                padding-bottom: 1.75rem;
            }
        }
    }
    .card-row{
        padding: 10px;
        border-bottom: 1px solid $metallic-blue;
    }
    .block-row{
        padding: 1rem 0;
    }
    .block-transaction-body{
        height: 453px;
        overflow-y: scroll;
        &::-webkit-scrollbar-track{
         box-shadow: none;   
        }
        .avatar-img{
            height: 30px;
            width: 33px;
            border-radius: 100%;
        }
        .spinner-loader{
            height: 100%;
        }
    }
    .search-dropdown{
        min-height: 30px;
        max-height: 200px;
        width: 500px;
        overflow-y: auto;
        position: fixed;
        z-index: 999;
        .search-user{
            height: 30px;
            width: 30px;
            margin-right: 10px;
        }
    }
}

.cardCollapsible {
    width: auto;
    height: 100px;
    display: table;
}

.clearBtn {
    float: right;
}

.day-background {
    background-color: #f5f5f5;
    border: 1px solid #e7e7e7; 
}

.night-background {
    background-color: $dark-grey-blue;
    border: 1px solid $dark-grey-blue; 

}