.home{
    .card-row{
        padding: 10px;
        border-bottom: 1px solid #efefef;
    }
    .block-row{
        padding: 1rem 0;
    }
    .block-transaction-body{
        height: 453px;
        overflow-y: scroll;
        &::-webkit-scrollbar-track{
         box-shadow: none;   
        }
    }
}