.witnesses-container{
   
    .witness-header{
        text-align: center;
        
    }
    .witnesses-table{
          .main-table-body > .main-table-row > td:last-child,
          .main-table-header > tr  > th:last-child { border-left:1px solid #706f70; position: sticky; position: -webkit-sticky; right:0; z-index:1; }
        .owner-col-th{
            padding-right: 110px !important;

        }
        .witness-external-link{
            &::after{
                display: none;
            }
        }
        .inner{
            border-radius: 25px;
            color: #fff;
            font-weight: 500;
            padding: 2px 10px;

            &-green{
                background: #a1c982;
            }
            &-blue{
                background: #357ce6;
            }
        }
        .witness-dropdown-table{
            margin: auto;
            & th, td{
                border: 1px solid #706f70;
            border-collapse: collapse;
            }
            tr td:first-child{
                min-width: 100px;
            }
            td{
                padding: 10px;
                word-break: break-all;
            }
            table{
                width: 100%;
            }
        }
    }
    @media (min-width:992px) {
        max-width: 80% !important;
        .witness-header{
            padding: 1rem 3rem;
        }
    }
}