.data-table-hive{
    .trans-table {
        margin: auto;
        width: 100%;
        & th, td{
            border: 1px solid $border-row;
        border-collapse: collapse;
        }
        tr td:first-child{
            min-width: 100px;
        }
        td{
            padding: 10px;
            word-break: break-all;
            .true{
              color: green;
          }
          .false{
              color:red
          }
        }
        
      }
      .trans-card{
        box-shadow: 0 0.1rem 1rem $light-shadow;
        width: 80%;
        margin: auto;
        &-dark{
            background-color: $dark-grey-blue;
        }
        &-light{
            background-color: $white-five;
        }
    }
      .time-date-table {
        & th, td{
            border: 1px solid $border-row;
        border-collapse: collapse;
        }
        tr td:first-child{
            min-width: 100px;
        }
        td{
            padding: 10px ;
            word-break: break-word;
        }
        
      }
      .card-header-sort{
        width: 110px;
      }
      .card-header-ops{
        text-align: center !important;
      }
      .col-w-240{
        width: 240px !important;
      }
      .col-w-110{
        width: 110x !important;
      }
  
}
.switch-view-btn{
  border: 1px solid #706f70;
  padding: 7px;
  border-radius: 10px;
}
.trans-card-view{
  .trans-card-table{
    min-width: 80%;
    &-dark{
      background-color: $dark-grey-blue !important;
  }
  &-day{
      background-color: $white-five !important;
  }
    & th, td{
        border: 1px solid $border-row;
    border-collapse: collapse;
    }
    tr td:first-child{
        min-width: 100px;
    }
    td{
        padding: 10px ;
        word-break: break-word;
    }
    td.true{
      color: #080;
    }
    td.false{
      color: #c7254e;
    }
  }
  .trans-card{
    box-shadow: 0 0.1rem 1rem $light-shadow;
    
    margin: auto;
    &-dark{
        background-color: $dark-grey-blue;
    }
    &-light{
        background-color: $white-five;
    }
}
}