@import '../../../style/colors.scss';
.theme-night{
    .market-graph{
        background-color: $dark-grey-blue;
    }
    .highcharts-background{
        fill: $dark-grey-blue;
    }
}
.theme-day{
    .market-graph{
        background-color: $white-five;
    }
    .highcharts-background{
        fill: $white-five;
    }
}
.market-graph{
    .price{
        padding: 10px;
    }
}