.appNav{
    position: fixed;
    width: 100%;
    z-index: 99999;
    top: 0;
    .container{
        position: relative;
    }
    .navItems{
        margin-left: auto;
    }
    .logo-icon{
        svg {
            height: 1em;
            margin-right: 0px;
            vertical-align: -5%    
        }
    }
    .flag-img{
        width: 24px;
        padding-right: 5px;
    }
    
    .switch-theme-btn-day {
        border: none !important;
        background-color: white !important;
    }
    
    .switch-theme-btn-night {
        border: none !important;
        background-color: #161d26 !important;
    }
    .nav-text-dark{
        a#nav-dropdown-blockchain,
        a#nav-dropdown-tokens,
        a#nav-dropdown-resources{
            color: #fcfcfc !important;
        }
    }
    .day-night-btn{
        background: transparent;
        border: 0;
        .day-night-img{
            height: 24px;
        }
        &:focus{
            outline: 0;
            box-shadow: none !important;
        }
        @media (max-width:992px) {
            position: absolute;
            top: 3px;
            right: 65px;
        }
    }
   
}

.appNav-night {
    background: #161d26;
}

.appNav-day {
    background: #fcfcfc;
}

.appNav-text-day {
    color: #030303;
}

.appNav-text-night {
    color: #ffffff;
}
@media (max-width:992px){
    .navbar-toggler{
        position: absolute;
        top: 0;
        right: 10px;
    }
    .dark-light-btn{
        position: absolute;
        top: 5px;
        right: 70px;
    }
}