.appNav{
    .container{
        position: relative;
    }
    .navItems{
        margin-left: auto;
    }
    .logo-icon{
        svg {
            height: 1em;
            margin-right: 8px;
            vertical-align: -5%    
        }
    }
    .flag-img{
        width: 24px;
        padding-right: 5px;
    }
    
    .switch-theme-btn-day {
        border: none !important;
        background-color: white !important;
    }
    
    .switch-theme-btn-night {
        border: none !important;
        background-color: #161d26 !important;
    }

    .day-night-btn{
        background: transparent;
        border: 0;
        .day-night-img{
            height: 24px;
        }
        &:focus{
            outline: 0;
            box-shadow: none !important;
        }
        @media (max-width:992px) {
            position: absolute;
            top: 3px;
            right: 65px;
        }
    }
}

.appNav-night {
    background: #161d26;
}

.appNav-day {
    background: #fcfcfc;
}

.appNav-text-day {
    color: #030303;
}

.appNav-text-night {
    color: #ffffff;
}
