.data-table-blocks{
    .rdt_Table{
        border: 1px solid #c5c5c5;
    }
    .avatar-img{
        height: 40px;
        width: 40px;
        border-radius: 100%;
        margin-right: 5px;
    }
}